body {
    text-align: center;
    background-color: rgb(200, 200, 230);
}

#source {
    display: none;
}

#target {
    outline: 5px solid black;
}

.sidebar.menu {
    text-align: left;
}

.ui.content.segment {
    width: fit-content;
    margin: 1rem;
}

.slider-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider-group>.slider {
    width: 75% !important;
}

.slider-group>.input {
    width: 20%;
}

